In [13]:
#pip install sqlalchemy
!{sys.executable} -m pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Collecting pyspark
  Using cached pyspark-3.5.3-py2.py3-none-any.whl
Collecting py4j==0.10.9.7 (from pyspark)
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.3

In [17]:
from pyspark.sql import SparkSession
import pandas as pd
from sqlalchemy import create_engine

In [18]:
# Crear la sesión de Spark
spark = SparkSession.builder \
    .appName("Pandas to PySpark") \
    .getOrCreate()

# Configura la conexión usando pymysql
engine = create_engine('mysql+pymysql://Estudiante_16_202415:Estudiante_202423813@157.253.236.120:8080/RaSaTransaccional')

# Lee la tabla en un DataFrame de Pandas
df_pandas = pd.read_sql('SELECT * FROM FuentePlanesBeneficio_Copia_E', engine)

# Convierte el DataFrame de Pandas a un DataFrame de PySpark
df_spark = spark.createDataFrame(df_pandas)

# Muestra el DataFrame de PySpark
df_spark.show()

+-----------------+------------------+-------------------------+---------------------------+-----------------+-----------------+----------+-------------+-----------+-------------+--------------+
|IdTipoBeneficio_T|IdAreaDeServicio_T|IdCondicionDePagoCopago_T|IdCondicionDePagoCoseguro_T|IdNivelServicio_T|         IdPlan_T|     Fecha|IdProveedor_T|valorCopago|valorCoseguro|cantidadLimite|
+-----------------+------------------+-------------------------+---------------------------+-----------------+-----------------+----------+-------------+-----------+-------------+--------------+
|            640.0|       1.0382017E7|                       34|                         27|                3|16842FL0070128-03|2017-12-31|        16842|          0|           50|          35.0|
|            225.0|       3.1512017E7|                      238|                         45|                2|29418TX0140002-04|2017-12-31|        29418|          0|            0|           NaN|
|            190.0|       6.6252017E7|                      238|                         45|                1|52697WI0010002-00|2017-12-31|        52697|          0|            0|           NaN|
|            620.0|       4.9492017E7|                       34|                         45|                3|38166WI0180012-06|2017-12-31|        38166|          0|          100|           NaN|
|            795.0|       3.7872017E7|                       34|                         45|                3|33602TX0460322-03|2017-12-31|        33602|          0|          100|           NaN|
|            450.0|       4.6922017E7|                      238|                         45|                1|37833WI0540010-01|2017-12-31|        37833|          0|            0|           NaN|
|            250.0|       1.9802017E7|                       34|                         18|                3|21663FL0130009-01|2017-12-31|        21663|          0|            0|           NaN|
|             80.0|       4.6912018E7|                      238|                         45|                1|37833WI0540010-01|2018-12-31|        37833|          0|            0|           NaN|
|             80.0|       7.2032017E7|                      238|                         45|                1|56503FL2570001-04|2017-12-31|        56503|          0|            0|           NaN|
|            165.0|       4.4812017E7|                      238|                         45|                3|36239KY1130005-05|2017-12-31|        36239|          0|            0|           NaN|
|            225.0|       9.5592017E7|                      238|                         45|                3|87571OK0350035-02|2017-12-31|        87571|          0|            0|           NaN|
|            335.0|       7.2002017E7|                      238|                         45|                3|56503FL2570001-04|2017-12-31|        56503|          0|            0|           NaN|
|            825.0|      1.09612017E8|                       34|                         45|                3|96667ME0260012-03|2017-12-31|        96667|          0|          100|           1.0|
|            480.0|       5.9132018E7|                       34|                         45|                3|41921VA0020003-03|2018-12-31|        41921|          0|          100|           NaN|
|            645.0|      1.02702018E8|                       34|                         45|                3|91661NJ2340003-05|2018-12-31|        91661|          0|          100|           NaN|
|            190.0|       5.2082017E7|                      238|                         45|                2|40047MI0070001-00|2017-12-31|        40047|          0|            0|           NaN|
|            900.0|       6.7552018E7|                      238|                         45|                2|53901AZ1420020-00|2018-12-31|        53901|          0|            0|           NaN|
|            750.0|      1.02402017E8|                      153|                         36|                1|91661NJ2340003-05|2017-12-31|        91661|          5|            0|           NaN|
|            350.0|       6.5842017E7|                       34|                         27|                1|49046GA0420043-01|2017-12-31|        49046|          0|           30|         120.0|
|            400.0|       3.8522017E7|                      238|                         45|                3|33602TX0770078-02|2017-12-31|        33602|          0|            0|           NaN|
+-----------------+------------------+-------------------------+---------------------------+-----------------+-----------------+----------+-------------+-----------+-------------+--------------+
only showing top 20 rows

In [39]:
print(df_spark.select("IdPlan_T").distinct().count())

393

In [27]:
print('Número de filas: {0}'.format(df_spark.count()))
print('Número de filas distintas: {0}'.format(df_spark.distinct().count()))

Número de filas: 36036

Número de filas distintas: 27543

In [28]:
df = df_spark.dropDuplicates()

In [29]:
print('COnteo: {0}'.format(df.select([c for c in df.columns if c != 'IdPlan_T']).distinct().count()))
#Como hay 27,543 filas, quiere decir que sí hay filas con ids diferentes que tienen la misma información en la fila

COnteo: 27498

In [32]:
df = df.dropDuplicates(subset = [c for c in df.columns if c != 'IdPlan_T'])

In [33]:
print('Número de filas: {0}'.format(df.count()))

Número de filas: 27498

In [34]:
import pyspark.sql.functions as fn

In [38]:
df.agg(
    fn.count('IdPlan_T').alias('conteo'),
    fn.countDistinct('IdPlan_T').alias('distintos')
).show()

+------+---------+
|conteo|distintos|
+------+---------+
| 27498|      393|
+------+---------+